@model Category
@{
    ViewData["Title"] = "CategoryAdd";
    Layout = "~/Views/Shared/_CoreLayout.cshtml";
}

<h2>Category Add Page</h2>
<br />

@using (Html.BeginForm("CategoryAdd", "Category", FormMethod.Post))
{
    <label>Category Name</label>
    @Html.TextBoxFor(x => x.CategoryName, new { @class = "form-control" })
    @* @Html.ValidationMessageFor(x => x.CategoryName, "", new { @style = "color:red" }) *@
    <br />
    <label>Description</label>
    @Html.TextBoxFor(x => x.CategoryDescription, new { @class = "form-control" })
    <br />
    <button class="btn btn-primary">Save</button>
}