@model List<Category>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_CoreLayout.cshtml";
}

<h2>Category List</h2>
<br />
<table class="table table-bordered">

    <tr>
        <th>ID</th>
        <th>Category Name</th>
        <th>Delete</th>
        <th>Update</th>
    </tr>

    @foreach (var x in Model)
    {
        <tr>
            <td>@x.CategoryID</td>
            <td>@x.CategoryName</td>
            <td><a href="#" class="btn btn-danger">Delete</a></td>
            <td><a href="#" class="btn btn-info">Update</a></td>
        </tr>
    }

</table>
<a href="#" class="btn btn-primary">New Category</a>